            <table>
              <thead>
                <tr>
                  <th style="text-align: center">Wood</th>
                  <th style="text-align: right">Durability</th>
                  <th style="text-align: right">Defense</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td style="text-align: center"><img src="/images/textures/armor/3d_armor_inv_helmet_wood.png" alt="helmet" /></td>
                  <td style="text-align: right">32</td>
                  <td style="text-align: right">3</td>
                </tr>
                <tr>
                  <td style="text-align: center"><img src="/images/textures/armor/shields_inv_shield_wood.png" alt="shield" /></td>
                  <td style="text-align: right">32</td>
                  <td style="text-align: right">3</td>
                </tr>
                <tr>
                  <td style="text-align: center"><img src="/images/textures/armor/3d_armor_inv_chestplate_wood.png" alt="chestplate" /></td>
                  <td style="text-align: right">32</td>
                  <td style="text-align: right">5</td>
                </tr>
                <tr>
                  <td style="text-align: center"><img src="/images/textures/armor/3d_armor_inv_leggings_wood.png" alt="leggings" /></td>
                  <td style="text-align: right">32</td>
                  <td style="text-align: right">4</td>
                </tr>
                <tr>
                  <td style="text-align: center"><img src="/images/textures/armor/3d_armor_inv_boots_wood.png" alt="boots" /></td>
                  <td style="text-align: right">32</td>
                  <td style="text-align: right">2</td>
                </tr>
                <tr>
                  <td style="text-align: center"><img src="/images/textures/armor/shields_inv_shield_enhanced_wood.png" alt="shieldiron" /></td>
                  <td style="text-align: right">32</td>
                  <td style="text-align: right">4</td>
                </tr>
              </tbody>
            </table>

            <table>
              <thead>
                <tr>
                  <th style="text-align: center">Cactus</th>
                  <th style="text-align: right">Durability</th>
                  <th style="text-align: right">Defense</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td style="text-align: center"><img src="/images/textures/armor/3d_armor_inv_helmet_cactus.png" alt="helmet" /></td>
                  <td style="text-align: right">65</td>
                  <td style="text-align: right">5</td>
                </tr>
                <tr>
                  <td style="text-align: center"><img src="/images/textures/armor/shields_inv_shield_cactus.png" alt="shield" /></td>
                  <td style="text-align: right">65</td>
                  <td style="text-align: right">4</td>
                </tr>
                <tr>
                  <td style="text-align: center"><img src="/images/textures/armor/3d_armor_inv_chestplate_cactus.png" alt="chestplate" /></td>
                  <td style="text-align: right">65</td>
                  <td style="text-align: right">10</td>
                </tr>
                <tr>
                  <td style="text-align: center"><img src="/images/textures/armor/3d_armor_inv_leggings_cactus.png" alt="leggings" /></td>
                  <td style="text-align: right">65</td>
                  <td style="text-align: right">10</td>
                </tr>
                <tr>
                  <td style="text-align: center"><img src="/images/textures/armor/3d_armor_inv_boots_cactus.png" alt="boots" /></td>
                  <td style="text-align: right">65</td>
                  <td style="text-align: right">5</td>
                </tr>
                <tr>
                  <td style="text-align: center"><img src="/images/textures/armor/shields_inv_shield_enhanced_cactus.png" alt="shield" /></td>
                  <td style="text-align: right">65</td>
                  <td style="text-align: right">5</td>
                </tr>
              </tbody>
            </table>

            <table>
              <thead>
                <tr>
                  <th style="text-align: center">Copperpatina</th>
                  <th style="text-align: right">Durability</th>
                  <th style="text-align: right">Defense</th>
                  <th style="text-align: right">Block</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td style="text-align: center"><img src="/images/textures/armor/armorplus_inv_copperpatina_helmet.png" alt="helmet" /></td>
                  <td style="text-align: right">655</td>
                  <td style="text-align: right">4</td>
                  <td style="text-align: right">5</td>
                </tr>
                <tr>
                  <td style="text-align: center"><img src="/images/textures/armor/armorplus_inv_copperpatina_shield.png" alt="shield" /></td>
                  <td style="text-align: right">655</td>
                  <td style="text-align: right">5</td>
                  <td style="text-align: right">6</td>
                </tr>
                <tr>
                  <td style="text-align: center"><img src="/images/textures/armor/armorplus_inv_copperpatina_chestplate.png" alt="chestplate" /></td>
                  <td style="text-align: right">655</td>
                  <td style="text-align: right">6</td>
                  <td style="text-align: right">8</td>
                </tr>
                <tr>
                  <td style="text-align: center"><img src="/images/textures/armor/armorplus_inv_copperpatina_leggings.png" alt="leggings" /></td>
                  <td style="text-align: right">655</td>
                  <td style="text-align: right">6</td>
                  <td style="text-align: right">8</td>
                </tr>
                <tr>
                  <td style="text-align: center"><img src="/images/textures/armor/armorplus_inv_copperpatina_boots.png" alt="boots" /></td>
                  <td style="text-align: right">655</td>
                  <td style="text-align: right">4</td>
                  <td style="text-align: right">6</td>
                </tr>
              </tbody>
            </table>

            <table>
              <thead>
                <tr>
                  <th style="text-align: center">Mithril</th>
                  <th style="text-align: right">Durability</th>
                  <th style="text-align: right">Defense</th>
                  <th style="text-align: right">Block</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td style="text-align: center"><img src="/images/textures/armor/3d_armor_inv_helmet_mithril.png" alt="helmet" /></td>
                  <td style="text-align: right">992</td>
                  <td style="text-align: right">6</td>
                  <td style="text-align: right">13</td>
                </tr>
                <tr>
                  <td style="text-align: center"><img src="/images/textures/armor/shields_inv_shield_mithril.png" alt="shield" /></td>
                  <td style="text-align: right">992</td>
                  <td style="text-align: right">7</td>
                  <td style="text-align: right">12</td>
                </tr>
                <tr>
                  <td style="text-align: center"><img src="/images/textures/armor/3d_armor_inv_chestplate_mithril.png" alt="chestplate" /></td>
                  <td style="text-align: right">992</td>
                  <td style="text-align: right">9</td>
                  <td style="text-align: right">13</td>
                </tr>
                <tr>
                  <td style="text-align: center"><img src="/images/textures/armor/3d_armor_inv_leggings_mithril.png" alt="leggings" /></td>
                  <td style="text-align: right">992</td>
                  <td style="text-align: right">8</td>
                  <td style="text-align: right">13</td>
                </tr>
                <tr>
                  <td style="text-align: center"><img src="/images/textures/armor/3d_armor_inv_boots_mithril.png" alt="boots" /></td>
                  <td style="text-align: right">992</td>
                  <td style="text-align: right">5</td>
                  <td style="text-align: right">13</td>
                </tr>
              </tbody>
            </table>

            <table>
              <thead>
                <tr>
                  <th style="text-align: center">Diamond</th>
                  <th style="text-align: right">Durability</th>
                  <th style="text-align: right">Defense</th>
                  <th style="text-align: right">Block</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td style="text-align: center"><img src="/images/textures/armor/3d_armor_inv_helmet_diamond.png" alt="helmet" /></td>
                  <td style="text-align: right">327</td>
                  <td style="text-align: right">7</td>
                  <td style="text-align: right">12</td>
                </tr>
                <tr>
                  <td style="text-align: center"><img src="/images/textures/armor/shields_inv_shield_diamond.png" alt="shield" /></td>
                  <td style="text-align: right">327</td>
                  <td style="text-align: right">8</td>
                  <td style="text-align: right">7</td>
                </tr>
                <tr>
                  <td style="text-align: center"><img src="/images/textures/armor/3d_armor_inv_chestplate_diamond.png" alt="chestplate" /></td>
                  <td style="text-align: right">327</td>
                  <td style="text-align: right">12</td>
                  <td style="text-align: right">12</td>
                </tr>
                <tr>
                  <td style="text-align: center"><img src="/images/textures/armor/3d_armor_inv_leggings_diamond.png" alt="leggings" /></td>
                  <td style="text-align: right">327</td>
                  <td style="text-align: right">12</td>
                  <td style="text-align: right">12</td>
                </tr>
                <tr>
                  <td style="text-align: center"><img src="/images/textures/armor/3d_armor_inv_boots_diamond.png" alt="boots" /></td>
                  <td style="text-align: right">327</td>
                  <td style="text-align: right">8</td>
                  <td style="text-align: right">12</td>
                </tr>
              </tbody>
            </table>

            <table>
              <thead>
                <tr>
                  <th style="text-align: center">Pink Crystal</th>
                  <th style="text-align: right">Durability</th>
                  <th style="text-align: right">Defense</th>
                  <th style="text-align: right">Block</th>
                  <th style="text-align: right">Jump</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td style="text-align: center"><img src="/images/textures/armor/3d_armor_inv_helmet_pink_crystal.png" alt="helmet" /></td>
                  <td style="text-align: right">655</td>
                  <td style="text-align: right">7</td>
                  <td style="text-align: right">5</td>
                  <td style="text-align: right">0.25</td>
                </tr>
                <tr>
                  <td style="text-align: center"><img src="/images/textures/armor/shields_inv_shield_pink_crystal.png" alt="shield" /></td>
                  <td style="text-align: right">327</td>
                  <td style="text-align: right">6</td>
                  <td style="text-align: right">6</td>
                  <td style="text-align: right">0.35</td>
                </tr>
                <tr>
                  <td style="text-align: center"><img src="/images/textures/armor/3d_armor_inv_chestplate_pink_crystal.png" alt="chestplate" /></td>
                  <td style="text-align: right">655</td>
                  <td style="text-align: right">8</td>
                  <td style="text-align: right">5</td>
                  <td style="text-align: right">0.25</td>
                </tr>
                <tr>
                  <td style="text-align: center"><img src="/images/textures/armor/3d_armor_inv_leggings_pink_crystal.png" alt="leggings" /></td>
                  <td style="text-align: right">655</td>
                  <td style="text-align: right">8</td>
                  <td style="text-align: right">5</td>
                  <td style="text-align: right">0.25</td>
                </tr>
                <tr>
                  <td style="text-align: center"><img src="/images/textures/armor/3d_armor_inv_boots_pink_crystal.png" alt="boots" /></td>
                  <td style="text-align: right">655</td>
                  <td style="text-align: right">6</td>
                  <td style="text-align: right">5</td>
                  <td style="text-align: right">0.35</td>
                </tr>
              </tbody>
            </table>

            <table>
              <thead>
                <tr>
                  <th style="text-align: center">Obsidian</th>
                  <th style="text-align: right">Durability</th>
                  <th style="text-align: right">Defense</th>
                  <th style="text-align: right">Block</th>
                  <th style="text-align: right">Fire Resist</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td style="text-align: center"><img src="/images/textures/armor/armorplus_inv_obsidian_helmet.png" alt="helmet" /></td>
                  <td style="text-align: right">344</td>
                  <td style="text-align: right">5</td>
                  <td style="text-align: right">10</td>
                  <td style="text-align: right">15</td>
                </tr>
                <tr>
                  <td style="text-align: center"><img src="/images/textures/armor/armorplus_inv_obsidian_shield.png" alt="shield" /></td>
                  <td style="text-align: right">344</td>
                  <td style="text-align: right">8</td>
                  <td style="text-align: right">7</td>
                  <td style="text-align: right">15</td>
                </tr>
                <tr>
                  <td style="text-align: center"><img src="/images/textures/armor/armorplus_inv_obsidian_chestplate.png" alt="chestplate" /></td>
                  <td style="text-align: right">344</td>
                  <td style="text-align: right">9</td>
                  <td style="text-align: right">10</td>
                  <td style="text-align: right">15</td>
                </tr>
                <tr>
                  <td style="text-align: center"><img src="/images/textures/armor/armorplus_inv_obsidian_leggings.png" alt="leggings" /></td>
                  <td style="text-align: right">344</td>
                  <td style="text-align: right">8</td>
                  <td style="text-align: right">10</td>
                  <td style="text-align: right">15</td>
                </tr>
                <tr>
                  <td style="text-align: center"><img src="/images/textures/armor/armorplus_inv_obsidian_boots.png" alt="boots" /></td>
                  <td style="text-align: right">344</td>
                  <td style="text-align: right">5</td>
                  <td style="text-align: right">10</td>
                  <td style="text-align: right">15</td>
                </tr>
              </tbody>
            </table>

            <table>
              <thead>
                <tr>
                  <th style="text-align: center">Steel</th>
                  <th style="text-align: right">Durability</th>
                  <th style="text-align: right">Defense</th>
                  <th style="text-align: right">Block</th>
                  <th style="text-align: right">Speed</th>
                  <th style="text-align: right">Gravity</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td style="text-align: center"><img src="/images/textures/armor/3d_armor_inv_helmet_steel.png" alt="helmet" /></td>
                  <td style="text-align: right">81</td>
                  <td style="text-align: right">7</td>
                  <td style="text-align: right">0</td>
                  <td style="text-align: right">-0.01</td>
                  <td style="text-align: right">0.01</td>
                </tr>
                <tr>
                  <td style="text-align: center"><img src="/images/textures/armor/shields_inv_shield_steel.png" alt="shield" /></td>
                  <td style="text-align: right">81</td>
                  <td style="text-align: right">6</td>
                  <td style="text-align: right">10</td>
                  <td style="text-align: right">-0.03</td>
                  <td style="text-align: right">0.03</td>
                </tr>
                <tr>
                  <td style="text-align: center"><img src="/images/textures/armor/3d_armor_inv_chestplate_steel.png" alt="chestplate" /></td>
                  <td style="text-align: right">81</td>
                  <td style="text-align: right">8</td>
                  <td style="text-align: right">0</td>
                  <td style="text-align: right">-0.04</td>
                  <td style="text-align: right">0.04</td>
                </tr>
                <tr>
                  <td style="text-align: center"><img src="/images/textures/armor/3d_armor_inv_leggings_steel.png" alt="leggings" /></td>
                  <td style="text-align: right">81</td>
                  <td style="text-align: right">8</td>
                  <td style="text-align: right">0</td>
                  <td style="text-align: right">-0.03</td>
                  <td style="text-align: right">0.03</td>
                </tr>
                <tr>
                  <td style="text-align: center"><img src="/images/textures/armor/3d_armor_inv_boots_steel.png" alt="boots" /></td>
                  <td style="text-align: right">81</td>
                  <td style="text-align: right">6</td>
                  <td style="text-align: right">0</td>
                  <td style="text-align: right">-0.01</td>
                  <td style="text-align: right">0.01</td>
                </tr>
              </tbody>
            </table>

            <table>
              <thead>
                <tr>
                  <th style="text-align: center">Etherium</th>
                  <th style="text-align: right">Durability</th>
                  <th style="text-align: right">Defense</th>
                  <th style="text-align: right">Block</th>
                  <th style="text-align: right">Gravity</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td style="text-align: center"><img src="/images/textures/armor/armorplus_inv_etherium_helmet.png" alt="helmet" /></td>
                  <td style="text-align: right">218</td>
                  <td style="text-align: right">5</td>
                  <td style="text-align: right">6</td>
                  <td style="text-align: right">-0.19</td>
                </tr>
                <tr>
                  <td style="text-align: center"><img src="/images/textures/armor/armorplus_inv_etherium_shield.png" alt="shield" /></td>
                  <td style="text-align: right">218</td>
                  <td style="text-align: right">7</td>
                  <td style="text-align: right">6</td>
                  <td style="text-align: right">-0.19</td>
                </tr>
                <tr>
                  <td style="text-align: center"><img src="/images/textures/armor/armorplus_inv_etherium_chestplate.png" alt="chestplate" /></td>
                  <td style="text-align: right">218</td>
                  <td style="text-align: right">8</td>
                  <td style="text-align: right">6</td>
                  <td style="text-align: right">-0.19</td>
                </tr>
                <tr>
                  <td style="text-align: center"><img src="/images/textures/armor/armorplus_inv_etherium_leggings.png" alt="leggings" /></td>
                  <td style="text-align: right">218</td>
                  <td style="text-align: right">8</td>
                  <td style="text-align: right">6</td>
                  <td style="text-align: right">-0.19</td>
                </tr>
                <tr>
                  <td style="text-align: center"><img src="/images/textures/armor/armorplus_inv_etherium_boots.png" alt="boots" /></td>
                  <td style="text-align: right">218</td>
                  <td style="text-align: right">5</td>
                  <td style="text-align: right">6</td>
                  <td style="text-align: right">-0.19</td>
                </tr>
              </tbody>
            </table>

            <table>
              <thead>
                <tr>
                  <th style="text-align: center">Crystal</th>
                  <th style="text-align: right">Durability</th>
                  <th style="text-align: right">Defense</th>
                  <th style="text-align: right">Block</th>
                  <th style="text-align: right">Speed</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td style="text-align: center"><img src="/images/textures/armor/3d_armor_inv_helmet_crystal.png" alt="helmet" /></td>
                  <td style="text-align: right">655</td>
                  <td style="text-align: right">7</td>
                  <td style="text-align: right">5</td>
                  <td style="text-align: right">0.35</td>
                </tr>
                <tr>
                  <td style="text-align: center"><img src="/images/textures/armor/shields_inv_shield_crystal.png" alt="shield" /></td>
                  <td style="text-align: right">327</td>
                  <td style="text-align: right">6</td>
                  <td style="text-align: right">6</td>
                  <td style="text-align: right">0.15</td>
                </tr>
                <tr>
                  <td style="text-align: center"><img src="/images/textures/armor/3d_armor_inv_chestplate_crystal.png" alt="chestplate" /></td>
                  <td style="text-align: right">655</td>
                  <td style="text-align: right">8</td>
                  <td style="text-align: right">5</td>
                  <td style="text-align: right">0.35</td>
                </tr>
                <tr>
                  <td style="text-align: center"><img src="/images/textures/armor/3d_armor_inv_leggings_crystal.png" alt="leggings" /></td>
                  <td style="text-align: right">655</td>
                  <td style="text-align: right">8</td>
                  <td style="text-align: right">5</td>
                  <td style="text-align: right">0.35</td>
                </tr>
                <tr>
                  <td style="text-align: center"><img src="/images/textures/armor/3d_armor_inv_boots_crystal.png" alt="boots" /></td>
                  <td style="text-align: right">655</td>
                  <td style="text-align: right">6</td>
                  <td style="text-align: right">5</td>
                  <td style="text-align: right">0.35</td>
                </tr>
              </tbody>
            </table>

            <table>
              <thead>
                <tr>
                  <th style="text-align: center">Bronze</th>
                  <th style="text-align: right">Durability</th>
                  <th style="text-align: right">Defense</th>
                  <th style="text-align: right">Block</th>
                  <th style="text-align: right">Speed</th>
                  <th style="text-align: right">Gravity</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td style="text-align: center"><img src="/images/textures/armor/3d_armor_inv_helmet_bronze.png" alt="helmet" /></td>
                  <td style="text-align: right">163</td>
                  <td style="text-align: right">4</td>
                  <td style="text-align: right">6</td>
                  <td style="text-align: right">-0.01</td>
                  <td style="text-align: right">0.01</td>
                </tr>
                <tr>
                  <td style="text-align: center"><img src="/images/textures/armor/shields_inv_shield_bronze.png" alt="shield" /></td>
                  <td style="text-align: right">163</td>
                  <td style="text-align: right">6</td>
                  <td style="text-align: right">9</td>
                  <td style="text-align: right">-0.03</td>
                  <td style="text-align: right">0.03</td>
                </tr>
                <tr>
                  <td style="text-align: center"><img src="/images/textures/armor/3d_armor_inv_chestplate_bronze.png" alt="chestplate" /></td>
                  <td style="text-align: right">163</td>
                  <td style="text-align: right">7</td>
                  <td style="text-align: right">6</td>
                  <td style="text-align: right">-0.04</td>
                  <td style="text-align: right">0.04</td>
                </tr>
                <tr>
                  <td style="text-align: center"><img src="/images/textures/armor/3d_armor_inv_leggings_bronze.png" alt="leggings" /></td>
                  <td style="text-align: right">163</td>
                  <td style="text-align: right">6</td>
                  <td style="text-align: right">6</td>
                  <td style="text-align: right">-0.03</td>
                  <td style="text-align: right">0.03</td>
                </tr>
                <tr>
                  <td style="text-align: center"><img src="/images/textures/armor/3d_armor_inv_boots_bronze.png" alt="boots" /></td>
                  <td style="text-align: right">163</td>
                  <td style="text-align: right">4</td>
                  <td style="text-align: right">6</td>
                  <td style="text-align: right">-0.01</td>
                  <td style="text-align: right">0.01</td>
                </tr>
              </tbody>
            </table>

            <table>
              <thead>
                <tr>
                  <th style="text-align: center">Gold</th>
                  <th style="text-align: right">Durability</th>
                  <th style="text-align: right">Defense</th>
                  <th style="text-align: right">Block</th>
                  <th style="text-align: right">Speed</th>
                  <th style="text-align: right">Gravity</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td style="text-align: center"><img src="/images/textures/armor/3d_armor_inv_helmet_gold.png" alt="helmet" /></td>
                  <td style="text-align: right">218</td>
                  <td style="text-align: right">6</td>
                  <td style="text-align: right">6</td>
                  <td style="text-align: right">-0.02</td>
                  <td style="text-align: right">0.02</td>
                </tr>
                <tr>
                  <td style="text-align: center"><img src="/images/textures/armor/shields_inv_shield_gold.png" alt="shield" /></td>
                  <td style="text-align: right">218</td>
                  <td style="text-align: right">6</td>
                  <td style="text-align: right">15</td>
                  <td style="text-align: right">-0.04</td>
                  <td style="text-align: right">0.04</td>
                </tr>
                <tr>
                  <td style="text-align: center"><img src="/images/textures/armor/3d_armor_inv_chestplate_gold.png" alt="chestplate" /></td>
                  <td style="text-align: right">218</td>
                  <td style="text-align: right">8</td>
                  <td style="text-align: right">6</td>
                  <td style="text-align: right">-0.05</td>
                  <td style="text-align: right">0.05</td>
                </tr>
                <tr>
                  <td style="text-align: center"><img src="/images/textures/armor/3d_armor_inv_leggings_gold.png" alt="leggings" /></td>
                  <td style="text-align: right">218</td>
                  <td style="text-align: right">6</td>
                  <td style="text-align: right">6</td>
                  <td style="text-align: right">-0.04</td>
                  <td style="text-align: right">0.04</td>
                </tr>
                <tr>
                  <td style="text-align: center"><img src="/images/textures/armor/3d_armor_inv_boots_gold.png" alt="boots" /></td>
                  <td style="text-align: right">218</td>
                  <td style="text-align: right">5</td>
                  <td style="text-align: right">6</td>
                  <td style="text-align: right">-0.02</td>
                  <td style="text-align: right">0.02</td>
                </tr>
              </tbody>
            </table>