            <table>
              <thead>
                <tr>
                  <th> </th>
                  <th><strong>Z+12288</strong></th>
                  <th><strong>Z+8192</strong></th>
                  <th><strong>Z+4096</strong></th>
                  <th><strong>Z 0</strong></th>
                  <th><strong>Z-4096</strong></th>
                  <th><strong>Z-8192</strong></th>
                  <th><strong>Z-12288</strong></th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <th><strong>X-12288</strong></th>
                  <td><a href="/images/map_images/squareone_x-12288_z12288.png">x-12288, z12288</a></td>
                  <td><a href="/images/map_images/squareone_x-12288_z8192.png">x-12288, z8192</a></td>
                  <td><a href="/images/map_images/squareone_x-12288_z4096.png">x-12288, z4096</a></td>
                  <td><a href="/images/map_images/squareone_x-12288_z0.png">x-12288, z0</a></td>
                  <td><a href="/images/map_images/squareone_x-12288_z-4096.png">x-12288, z-4096</a></td>
                  <td><a href="/images/map_images/squareone_x-12288_z-8192.png">x-12288, z-8192</a></td>
                  <td><a href="/images/map_images/squareone_x-12288_z-12288.png">x-12288, z-12288</a></td>
                </tr>
                <tr>
                  <th><strong>X-8192</strong></th>
                  <td><a href="/images/map_images/squareone_x-8192_z12288.png">x-8192, z12288</a></td>
                  <td><a href="/images/map_images/squareone_x-8192_z8192.png">x-8192, z8192</a></td>
                  <td><a href="/images/map_images/squareone_x-8192_z4096.png">x-8192, z4096</a></td>
                  <td><a href="/images/map_images/squareone_x-8192_z0.png">x-8192, z0</a></td>
                  <td><a href="/images/map_images/squareone_x-8192_z-4096.png">x-8192, z-4096</a></td>
                  <td><a href="/images/map_images/squareone_x-8192_z-8192.png">x-8192, z-8192</a></td>
                  <td><a href="/images/map_images/squareone_x-8192_z-12288.png">x-8192, z-12288</a></td>
                </tr>
                <tr>
                  <th><strong>X-4096</strong></th>
                  <td><a href="/images/map_images/squareone_x-4096_z12288.png">x-4096, z12288</a></td>
                  <td><a href="/images/map_images/squareone_x-4096_z8192.png">x-4096, z8192</a></td>
                  <td><a href="/images/map_images/squareone_x-4096_z4096.png">x-4096, z4096</a></td>
                  <td><a href="/images/map_images/squareone_x-4096_z0.png">x-4096, z0</a></td>
                  <td><a href="/images/map_images/squareone_x-4096_z-4096.png">x-4096, z-4096</a></td>
                  <td><a href="/images/map_images/squareone_x-4096_z-8192.png">x-4096, z-8192</a></td>
                  <td><a href="/images/map_images/squareone_x-4096_z-12288.png">x-4096, z-12288</a></td>
                </tr>
                <tr>
                  <th><strong>X 0</strong></th>
                  <td><a href="/images/map_images/squareone_x0_z12288.png">x0, z12288</a></td>
                  <td><a href="/images/map_images/squareone_x0_z8192.png">x0, z8192</a></td>
                  <td><a href="/images/map_images/squareone_x0_z4096.png">x0, z4096</a></td>
                  <td><a href="/images/map_images/squareone_x0_z0.png">x0, z0</a></td>
                  <td><a href="/images/map_images/squareone_x0_z-4096.png">x0, z-4096</a></td>
                  <td><a href="/images/map_images/squareone_x0_z-8192.png">x0, z-8192</a></td>
                  <td><a href="/images/map_images/squareone_x0_z-12288.png">x0, z-12288</a></td>
                </tr>
                <tr>
                  <th><strong>X 4096</strong></th>
                  <td><a href="/images/map_images/squareone_x4096_z12288.png">x4096, z12288</a></td>
                  <td><a href="/images/map_images/squareone_x4096_z8192.png">x4096, z8192</a></td>
                  <td><a href="/images/map_images/squareone_x4096_z4096.png">x4096, z4096</a></td>
                  <td><a href="/images/map_images/squareone_x4096_z0.png">x4096, z0</a></td>
                  <td><a href="/images/map_images/squareone_x4096_z-4096.png">x4096, z-4096</a></td>
                  <td><a href="/images/map_images/squareone_x4096_z-8192.png">x4096, z-8192</a></td>
                  <td><a href="/images/map_images/squareone_x4096_z-12288.png">x4096, z-12288</a></td>
                </tr>
                <tr>
                  <th><strong>X 8192</strong></th>
                  <td><a href="/images/map_images/squareone_x8192_z12288.png">x8192, z12288</a></td>
                  <td><a href="/images/map_images/squareone_x8192_z8192.png">x8192, z8192</a></td>
                  <td><a href="/images/map_images/squareone_x8192_z4096.png">x8192, z4096</a></td>
                  <td><a href="/images/map_images/squareone_x8192_z0.png">x8192, z0</a></td>
                  <td><a href="/images/map_images/squareone_x8192_z-4096.png">x8192, z-4096</a></td>
                  <td><a href="/images/map_images/squareone_x8192_z-8192.png">x8192, z-8192</a></td>
                  <td><a href="/images/map_images/squareone_x8192_z-12288.png">x8192, z-12288</a></td>
                </tr>
                <tr>
                  <th><strong>X 12288</strong></th>
                  <td><a href="/images/map_images/squareone_x12288_z12288.png">x12288, z12288</a></td>
                  <td><a href="/images/map_images/squareone_x12288_z8192.png">x12288, z8192</a></td>
                  <td><a href="/images/map_images/squareone_x12288_z4096.png">x12288, z4096</a></td>
                  <td><a href="/images/map_images/squareone_x12288_z0.png">x12288, z0</a></td>
                  <td><a href="/images/map_images/squareone_x12288_z-4096.png">x12288, z-4096</a></td>
                  <td><a href="/images/map_images/squareone_x12288_z-8192.png">x12288, z-8192</a></td>
                  <td><a href="/images/map_images/squareone_x12288_z-12288.png">x12288, z-12288</a></td>
                </tr>
              </tbody>
            </table>
